<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="64f478">  <td>23/06/22 15:02:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ImPlusLoanProcessingStatus.loginPage()[pri:1, instance:com.lendenclub.main.ImPlusLoanProcessingStatus@2a8448fa]">loginPage</td> 
  <td>main@1880078449</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>23/06/22 15:02:24</td>   <td>3811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ImPlusLoanProcessingStatus.TestLoanProcessingCount()[pri:2, instance:com.lendenclub.main.ImPlusLoanProcessingStatus@2a8448fa]">TestLoanProcessingCount</td> 
  <td>main@1880078449</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>23/06/22 15:02:17</td>   <td>-2564</td> <td>&nbsp;</td><td title="&gt;&gt;ImPlusLoanProcessingStatus.openingFireFox()[pri:0, instance:com.lendenclub.main.ImPlusLoanProcessingStatus@2a8448fa]">&gt;&gt;openingFireFox</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1880078449</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>23/06/22 15:02:56</td>   <td>35834</td> <td>&nbsp;</td><td title="&lt;&lt;ImPlusLoanProcessingStatus.CloseBrowser()[pri:0, instance:com.lendenclub.main.ImPlusLoanProcessingStatus@2a8448fa]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1880078449</td>   <td></td> </tr>
</table>
